<div class="windows-buttons-wrapper">
    <div class="windows-buttons-fixed">
        <div title="Discord" class="windows-button windows-button-discord" id="window-discord"><i class="fab fa-discord"></i></div>
        <div title="Support" class="windows-button windows-button-blue" id="window-help"><i class="material-icons">help_outline</i></div>
        <div title="Minimize" class="windows-button" id="window-minimize"><i class="material-icons">minimize</i></div>
        <div title="Close" class="windows-button windows-button-red" id="window-close"><i class="material-icons">close</i></div>
    </div>
</div>